<div class="card shadow-sm product-item">
  <div class="card-body">
      <p class="card-text">{{productItem.product_name}}</p>
  </div>
  <img class="bd-placeholder-img card-img-top"
      src="{{productItem.imageUrl}}">
  <div class="card-body">
      <p class="card-text">{{productItem.description}}</p>
      <p class="card-text"><span>{{productItem.product_price}}</span> USD</p>
      <p class="card-text"><span>{{productItem.stock}} </span>units in stock</p>
      <div class="d-flex justify-content-between align-items-center">
          <div class="btn-product">
              <button type="button" class="btn product-btn btn1"><mat-icon class="icon">remove_red_eye</mat-icon>Detail</button>
              <button type="button" class="btn product-btn btn2"><mat-icon class="icon">add_shopping_cart</mat-icon>Order Now</button>
          </div>
      </div>
  </div>
</div>
